body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --main-color-blue: #0a0ae2;
  --main-color-yellow: #201d4f;
  --main-bg-color: #53c9cb;
  --text-size-sm: 12px;
  --text-size-md: 16px;
  --text-size-lg: 24px;
}
